@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");


:root {
    --standard-color: #FF735D;
    --xs-space: .5rem;
    --s-space: .75rem;
    --r-space: 1rem;
    --L-space: 1.25rem
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}



/*---------------------------*/


body {

    font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
}

